Repository awskrug/platform-engineering-glossary, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjangga0214, @Ryu-Hanjin, @sudosubin, @milkyKim, @Eeap, @kmus1232, @Han-Joon-Hyeok, @da-head0, @pinetree2, @Geun-Oh

docs(readme): dev.to org join
  README.md
  docs/images/devto-join-org.png
Owners: none

ci: rm unnecessary demo token
  .github/workflows/main.yaml
Owners: none

ci(comment): fix github integration
  haetae.config.ts
Owners: none

ci(comment): debug
  .github/workflows/main.yaml
  haetae.config.ts
Owners: none

ci(comment): debug (2nd)
  haetae.config.ts
Owners: none

ci(comment): fix github integration
  haetae.config.ts
Owners: none

docs(readme): guide dev.to markdown editor features
  README.md
Owners: none

revert: "ci(comment): debug (2nd)"
  haetae.config.ts
Owners: none

revert: "ci(comment): debug"
  .github/workflows/main.yaml
  haetae.config.ts
Owners: none

docs(readme): rewords
  README.md
Owners: none

ci: publish draft on PR
  .github/workflows/main.yaml
  README.md
  articles/jjangga0214/demo.md
  glossary.csv
  haetae.config.ts
  memo.tmp
  package.json
  pnpm-lock.yaml
  test/publish.test.ts
  test/render.test.ts
  workflows/csvlint.ts
  workflows/github.ts
  workflows/publish.ts
  workflows/render.ts
Owners: @jjangga0214

glossary: fix typo
  glossary.csv
Owners: none

feat : add format
  articles/pinetree2/what_is_platform_engineering.md
  glossary.csv
Owners: @pinetree2

feat : add config , secret
  .github/workflows/main.yaml
  articles/config.yaml
Owners: none

fix: fix yml
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

fix: fix published option
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

ci(main): rm dummy secret
  .github/workflows/main.yaml
Owners: none

fix : fix article detail syntax
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

feat: change default case for glossary
  README.md
  articles/jjangga0214/demo.md
  glossary.csv
  test/csvlint.test.ts
  test/publish.test.ts
  test/render.test.ts
Owners: @jjangga0214

build(csvlint): refactor
  workflows/csvlint.ts
Owners: none

glossary: Internal Developer Platform, Internal Developer Portal (#2)
  README.md
  articles/jjangga0214/demo.md
  glossary.csv
  test/csvlint.test.ts
  test/publish.test.ts
  test/render.test.ts
  workflows/csvlint.ts
Owners: @jjangga0214

article: reflect changed glossary
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

article: fix typo
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

build(csvlint): fix by explictly catching empty line and missing korean
  test/csvlint.test.ts
  workflows/csvlint.ts
Owners: none

docs(readme): fix typo
  README.md
Owners: none

articles(jjangga0214/talk-about-platforms): init
  articles/jjangga0214/0001-talk-about-platforms.md
  glossary.csv
Owners: @jjangga0214

glossary: add "Agile"
  articles/jjangga0214/0001-talk-about-platforms.md
  glossary.csv
Owners: @jjangga0214

articles: rm ambiguous sentences
  articles/jjangga0214/0001-talk-about-platforms.md
  glossary.csv
Owners: @jjangga0214

articles: fix inconsistent usage of "Delivery"
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

articles: add translator's footnotes
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

articles: add a word
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

articles: fix typo
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

docs(readme): guide contributions
  README.md
  articles/config.schema.json
  articles/config.yaml
  articles/contributions/.gitkeep
  haetae.config.ts
Owners: none

articles: simplify
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

articles: specify "drag"
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

articles: specify 'accountability'
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

articles: rm duplicated eng
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

articles(jjangga0214/talk-about-platforms): init (#4)
  articles/jjangga0214/0001-talk-about-platforms.md
  glossary.csv
Owners: @jjangga0214

articles(jjangga0214/demo): rm
  articles/jjangga0214/demo.md
Owners: @jjangga0214

feat: add Plarform Engineer, Infrastructure
  .github/workflows/main.yaml
  README.md
  articles/Geun-Oh/internal_developer_platform_vs_internal_developer_portal.md
  articles/config.schema.json
  articles/config.yaml
  articles/contributions/.gitkeep
  articles/jjangga0214/0001-talk-about-platforms.md
  articles/jjangga0214/demo.md
  glossary.csv
  haetae.config.ts
Owners: @Geun-Oh, @jjangga0214

.github/CODEOWNERS:

articles/jjangga0214/ @jjangga0214
articles/Ryu-Hanjin/ @Ryu-Hanjin
articles/sudosubin/ @sudosubin
articles/milkyKim/ @milkyKim
articles/Eeap/ @Eeap
articles/kmus1232/ @kmus1232
articles/Han-Joon-Hyeok/ @Han-Joon-Hyeok
articles/da-head0/ @da-head0
articles/pinetree2/ @pinetree2
articles/Geun-Oh/ @Geun-Oh
