Repository awskrug/platform-engineering-glossary, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjangga0214, @Ryu-Hanjin, @sudosubin, @milkyKim, @Eeap, @kmus1232, @Han-Joon-Hyeok, @da-head0, @pinetree2, @Geun-Oh

.github/CODEOWNERS:

articles/jjangga0214/ @jjangga0214
articles/Ryu-Hanjin/ @Ryu-Hanjin
articles/sudosubin/ @sudosubin
articles/milkyKim/ @milkyKim
articles/Eeap/ @Eeap
articles/kmus1232/ @kmus1232
articles/Han-Joon-Hyeok/ @Han-Joon-Hyeok
articles/da-head0/ @da-head0
articles/pinetree2/ @pinetree2
articles/Geun-Oh/ @Geun-Oh

fix: typo
  articles/Geun-Oh/internal_developer_platform_vs_internal_developer_portal.md
Owners: @Geun-Oh

fix: typo (#8)
  articles/Geun-Oh/internal_developer_platform_vs_internal_developer_portal.md
Owners: @Geun-Oh

fix(jjangga0214/0001-talk-about-platforms): by double-quotes
  articles/jjangga0214/0001-talk-about-platforms.md
Owners: @jjangga0214

feat(config): update articles configs/credentials in CI
  .github/workflows/main.yaml
  articles/config.yaml
Owners: none

feat(config): update articles configs/credentials in CI (#9)
  .github/workflows/main.yaml
  articles/config.yaml
Owners: none

fix : fix markdown
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

fix : delete youtube link embed
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

fix : delete blank
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

fix : change platform engineering words
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

fix : change platform engineering words
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2

add : internal developer portals, translate article (#3)
  articles/pinetree2/what_is_platform_engineering.md
Owners: @pinetree2
